.b-start {
    background: transparent;
    justify-content: center;
    padding: 18px 5px;
}

.b-start__field-label {
    color: #FFFF;
}

.b-select-ghost {
    color: #FFFF;
}

.l-main-container {
    display: flex;
}

.b-start__field .b-select-ghost {
    width: 200px;
}

.b-start__field {
    width: 210px !important;
}
.b-filter{
    background: #644844;
}
.b-filter__title{
    color: #FFF;
}
.b-filter__field-label{
    color: #FFF;
}
.b-roomitem__field--label{
    color: #FFF;
}
@media (max-width:1127px) {
    .l-main-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 1127px){
.l-progress.state-step-1 + .l-main-container .b-mob-top-bar--fixed {
    height: 46px;
    position: relative;
    width: 100%;
}
.l-filters{
    padding-top: 89px;
}
}
@media screen and (max-width: 365px){
.b-mob-top-bar__content {
    justify-content: center;
}
}
